<div class="adminManager">
  <div class="manager-bar">
    <h1>Danh sách mục quản lý</h1>
    <ul>
      <li>
        <a href="/admin/managerUser?id={{user._id}}">Quản lý người dùng</a>
      </li>
      <li>
        <a href="/admin/managerCourse?id={{user._id}}">Quản lý khoá học</a>
      </li>
    </ul>
  </div>
  <div class="manager-content">
    <h1>Danh sách người dùng</h1>
    <div class="managerTable">
      <table>
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">User</th>
            <th scope="col">Address</th>
            <th scope="col">Sex</th>
            <th scope="col">Money</th>
            <th scope="col">Job</th>
            <th scope="col" colspan="1">Admin</th>
          </tr>
        </thead>
        <tbody>
          {{#each users}}
          <tr>
            <td>{{sum @index 1}}</td>
            <td>{{this.name}}</td>
            <td>{{this.userName}}</td>
            <td>{{this.address}}</td>
            <td>{{this.sex}}</td>
            <td>{{this.money}}</td>
            <td>{{this.job}}</td>
            <td>{{this.admin}}</td>
            <td>
              <span class="deleteItem" data-id="{{this._id}}"> Xoá </span>
              <span class="update" data-id="{{this._id}}"> Sửa</span>
            </td>
          </tr>
          {{/each}}
          <tr>
            <td colspan="8" class="addItem">
              <span >Add</span>
            </td>
          </tr>
        </tbody>
      </table>
        <div class="wrapAdd">
          <div class="addUser">
            <div class="closeAdd">
              <i class="fa-solid fa-xmark"></i>
            </div>
            <h1>Thêm người dùng mặc định mới</h1>
            <ul>
              <li class="add">Thêm</li>
              <li class="cancleAdd">Huỷ</li>
            </ul>
          </div>
        </div>
      <form method="POST" class="formDeleteUser" name="deleteForm"></form>
      <form
        action="/admin/updateUser?"
        method="POST"
        class="formUpdateUser"
      ></form>
      <form method="POST" class="formAddUser" name="addForm"></form>
    </div>
    <div class="editInfo">
      <div class="editBox">
        <div class="closeEdit">
          <i class="fa-solid fa-xmark"></i>
        </div>
        <h1>Chỉnh sửa thông tin cá nhân</h1>
        <div class="editItem">
          <form method="POST" name="updateForm">
            <div class="form-group">
              <label for="intName">Name:</label>
              <input type="text" id="intName" class="intName" name="name" />
            </div>
            <div class="form-group">
              <label for="intEmail">Image:</label>
              <input type="text" id="intImage" class="intImage" name="image" />
            </div>
            <div class="form-group">
              <label for="intAddress">Address:</label>
              <input
                type="text"
                id="intAddress"
                class="intAddress"
                name="address"
              />
            </div>
            <div class="form-group">
              <label for="inJob">Job:</label>
              <input type="text" id="inJob" class="inJob" name="job" />
            </div>
            <div class="form-group">
              <label for="radioSex">Sex</label>
              <div>
                <label for="male">Nữ</label>
                <input type="radio" id="female" name="sex" value="female" />
                <label for="male">Nam</label>
                <input type="radio" id="male" name="sex" value="male" checked />
              </div>
            </div>
            <div class="btnEdit">
              <button type="submit" class="accept">Sửa</button>
              <button type="button" class="cancle">Huỷ</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tbodyName = document.querySelector(
      ".manager-content .managerTable tbody"
    );
    const editInfo = document.querySelector(".manager-content .editInfo");
    const deleteForm = document.forms["deleteForm"];
    const btnUpdate = document.querySelector('span.update')
    const updateForm = document.forms['updateForm']
    const addForm = document.forms['addForm']
    const wrapAdd = document.querySelector('.managerTable .wrapAdd')
    const addItem = document.querySelector(".manager-content .addItem")
      let updateID;
    tbodyName.addEventListener("click", function (e) {
      const btnDelete = e.target.closest("span.deleteItem");
      if (btnDelete) {
        deleteForm.action =
          "/admin/deleteUser/" + btnDelete.dataset.id + "?_method=DELETE";
        deleteForm.submit();
      }

      if (e.target.closest("span.update")) {
      updateID = e.target.closest('span.update').dataset.id
          updateForm.action = `/admin/updateUser/${updateID}/`
        editInfo.style.display = "block";
      }
    });




    editInfo.addEventListener("click", function(e){
      if(e.target.closest(".btnEdit .cancle") || e.target.closest(".editBox .closeEdit")){
        editInfo.style.display = "none";
      }



    })

    wrapAdd.addEventListener('click', function(e) {
      if(e.target.closest(".add")){
        wrapAdd.style.display = "none"
        console.log(addForm)
        addForm.action = `/admin/addUser/icungdc/`
        addForm.submit()
      }

      if(e.target.closest(".cancleAdd")){
        wrapAdd.style.display = "none"

        
      }

      if(e.target.closest(".closeAdd")){
        wrapAdd.style.display = "none"

        
      }
    })

    addItem.addEventListener("click", function(e) {
      wrapAdd.style.display = "block"
    })
  });
</script>
